
.mb-10px {
    margin-bottom: 1rem;
}

.mb-30px {
    margin-bottom: 3rem;
}

.mb-50px {
    margin-bottom: 5rem;
    @include respond(tab-port){
        margin-bottom: 7rem;
    }
}

.mb-80px {
    margin-bottom: 8rem;
    @include respond(tab-port){
        margin-bottom: 5rem;
    }
}

.tac {
    text-align: center;
}