// text color
$color-gray: #777777;

// main colors of the site
$color-brown-light: #BA8554;
$color-brown-dark: #A14F03;

// black and white colors for site
$color-black: #000000;
$color-white: #ffffff;

// shadow for buttons
$box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.2));


$margin-vertical-big: 8rem;
$gutter-horizontal: 6rem;

// grid width
$grid-width: 114rem;

// typography
$fs-p: 1.6rem;
$fs-h2: 3.6rem;
$fs-h3: 2rem;